html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#1f3a3e;
    background-size: 100px 50px;
}

.loginPageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fredoka, sans-serif;
}


.loginPage {
    width: 400px;
    padding: 20px;
    background-color: #d8dede;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loginPage h1 {
    font-size: 40px;
    font-weight: 500;
}

.emailField {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailField label {
    font-size: 18px;
    margin-bottom: 5px;
}

.emailInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.emailInput:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.passwordField {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordField label {
    font-size: 18px;
    margin-bottom: 5px;
}

.passwordInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.passwordInput:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.firstNameField {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstNameField label {
    font-size: 18px;
    margin-bottom: 5px;
}

.firstNameInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.firstNameInput:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.lastNameField {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastNameField label {
    font-size: 18px;
    margin-bottom: 5px;
}

.lastNameInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.lastNameInput:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.monthlyIncomeField {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthlyIncomeField label {
    font-size: 18px;
    margin-bottom: 5px;
}

.monthlyIncomeInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.monthlyIncomeInput:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submitBtn {
    background-color: #508769;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.submitBtn:hover {
    background-color: #5a6268;
}

.submitBtn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

.submitBtn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.switchBtn {
    background-color: #508769;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.switchBtn:hover {
    background-color: #5a6268;
}

.switchBtn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

.switchBtn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.entryForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
}

select, input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;
}

button {
    background-color: #508769;
    color: white;
    margin: 7px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a6268;
}